@font-face {
  font-family: "circularstd";
  src: url('../fonts/CircularStd-Book.otf');
  font-weight: 300;
}

@font-face {
  font-family: "circularstd";
  src: url('../fonts/CircularStd-Medium.otf');
  font-weight: 600;
}

@font-face {
  font-family: "circularstd";
  src: url('../fonts/CircularStd-Bold.otf');
  font-weight: 700;
}

@font-face {
  font-family: "circularstd";
  src: url('../fonts/CircularStd-Black.otf');
  font-weight: 900;
}